body {
  font-family: Arial, "Noto Sans";
  font-weight: lighter;
  padding: 0px;
  margin: 0;
  color: var(--text-color);
}
.copy-wrapper {
  background-color: var(--copyright-bg);
  height: 100%;
  padding: 10px 200px 5px 200px;
}
.copyright {
  text-align: center;
  padding: 5px;
}

/* Portrait/Mobile View */
@media (max-width: 600px) {
  .copy-wrapper {
    padding: 0px 0px 0px 0px;
  }
  .copyright {
    padding: 10px;
    font-size: 10px;
  }
}
/* Landscape and iPad View */
@media (min-width: 750px) and (max-width: 900px) {
}

@media (min-width: 600px) and (max-width: 900px) {
  .copy-wrapper {
    padding: 0px 0px 0px 0px;
  }
  .copyright {
    padding: 10px;
    font-size: 10px;
  }
}
